body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #countdown {
    font-size: 60px;
    font-weight: bold;
    color: #ff0000;
    margin-top: 350px;
  }
  
  #message {
    font-size: 36px;
    color: #ff0000;
    margin-top: 350px;
    font-weight: bold;
  }